/* ---------- Scrollbar ----------*/

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #fff #22303C;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: #22303C;
}

*::-webkit-scrollbar-thumb {
    background-color: #fff;
}

body {
    background: #000a0f;
    width: 100%;
    overflow-x: hidden;
    color: #fff;
}

#video-box {
    width: 100%;
    height: 100%;
}

row {
    width: 80%!important;
}

.movie-image img {
    width: 100%;
    object-fit: contain;
    height: 100%;
}

#search-title {
    margin: 0 3vw;
}

#movies, #movies-np {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    margin: 2vw 2vw;
}

.showreel {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    margin: 0 2vw;
}

#movies p {
    margin: 10px 0;
    color: #fff; 
}

#movies button {
    
}

#movies div {
    
}

.modal {
    padding: 0;
    overflow: hidden;
}

.modal-footer button {
    width: 20vw;
}

.modal-body {
    padding: 0;
}

.modal-footer {
    padding: 5px;
}

.search-movie {
    margin: 1vw auto;
    display: flex;
    justify-content: center;
}

.search-movie input {
    width: 600px;
    height: ;
    font-size: 1.2em;
    outline: none;
    border: none;
    padding: 0 10px;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
}

.search-buttons {
    display: flex;
    justify-content: center;
    margin: 0 0 1vw;
}

.movie-image {
    height: ;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#mybtn {
    position: relative;
    left: -100px;
}

#voice-search {
    position: relative;
    left: -90px;
}

.search-form {
    display: flex;
    flex-direction: row;
}

nav {
    padding: 0;
}

.new-button-1 {
    width:100%;
    height: 7vh;
    font-size: 0.8em;
    border: 0;
    border-radius: 10px 10px 0 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.new-button-2 {
    width: 100%;
    border-radius: 0 0 10px 10px;
    height: 5vh;
}

.movie-year {
    display: none;
}

#search-title, #now-playing, #listnow {
    display: none;
    margin: 0 3vw;
}

#movies .movie, #movies-np .movie {
    margin-bottom: 2vh;
}

@media screen and (max-width: 767px) {
    .search-movie input {
        height: 7vh;
        width: auto;
    }
    
    .search-form {
        width: 100%;
    }
    
    .new-button-2 {
        font-size: 14px;
        height: auto;
    }
    
    .new-button-1 {
        height: 10vh;
        font-size: 0.7em;
    }
}